* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #141414;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  color: white;
}

.app-body {
  display: flex;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}
